
/*	
	版本信息:
		拓展样式版本: 2010-06
		联系: Chen Cong (david.chencong@gmail.com)
		
		基础样式最后修改: 2010-04-27
		联系: Uriel(uriel.hu@gmail.com)
		
	结构模块:
		1.reset		html标签的默认样式
		2.routine	常用预置样式
		3.layout	页面结构样式
		4.detail	网页详细样式
	
		模块说明：
			1.reset		模块关系全局，修改需非常慎重！
			2.routine	模块为常用预置样式，不可修改，但可按需要扩充完善
			2.layout	模块用于网页大区块布局，默认的样式结构仅供参考，可按实际需求调整扩充
			3.detail	模块用于配置网页详细样式
		
	命名约定：
		1.不使用大写形式的类名和id名
		2.尽可能使用描述性的英文单词的组合作为类名和id名
		3.类名或id名的多个英文单词之间使用"_"下划线分隔
		4.不要求多个英文单词之间一定要使用间隔符
		
	常用hack手段:
		注意：良好的结构比任何hack都好，尽量少用。
			width:1px;*width:1px;_width:1px;	ff,ie7,ie6
*/

/*reset start*/
html { height: 100%; }
body { color: #000; font-family: Tahoma, "宋体"; font-size: 12px; height: 100%; display: table; width: 100%; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style: inherit; font-weight: inherit; }
del, ins { text-decoration: none; }
li { list-style: none; }
caption, th { text-align: left; }
h1 { font-size: 18px; }
h2 { font-size: 14px; }
h3, h4, h5, h6 { font-size: 12px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select { *font-size:100%;}
strong, b { font-weight: bold; }

v\:* { behavior: url(#default#VML); }

/*reset end*/

/*routine start*/
/*清除浮动*/
.c_b { zoom: 1; }
.c_b:after { clear: both; content: " "; display: block; }
/*对齐*/
.t_l { text-align: left; }
/*居左*/
.t_c { text-align: center; }
/*居中*/
.t_r { text-align: right; }
/*居右*/


.tp { cursor: pointer; display: block; position: absolute; background: #fff; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
/* transparent - 可以覆盖的已被绝对定位的透明区域，只需指定左、上、宽和高 */

.pn { left: 0; top: 0; overflow: hidden; position: absolute; }
/* pane - 绝对定位的内容块 */

/*迷你导航*/
.l_miniMenu { height: 34px; line-height: 34px; overflow: hidden; font-family: "宋体"; width: 100%; }
.miniMenu { width: 1000px; margin: auto; }
.leftMenu { float: left; }
.leftMenu a.miniLogo { float: left; width: 77px; font-family: Verdana, Arial; font-size: 14px; height: 25px; overflow: hidden; line-height: 23px; font-weight: bold; margin: 5px 10px 0 10px; }
.leftMenu a.miniLogo:hover { text-decoration: none; }
.leftMenu ul { float: left; overflow: hidden; }
.leftMenu li { float: left; margin-left: -2px; height: 32px; }
.leftMenu li a { float: left; padding: 0 11px 0 12px; height: 32px; line-height: 34px; }
.leftMenu li a:hover { color: #09f; }
.miniUserInfo { float: right; margin-right: 10px; height: 34px; line-height: 34px; }
.miniUserInfo a { margin: 0 3px 0 5px; }
.miniUserInfo a:hover { color: #09f; }
.miniSearch { float: right; display: inline; width: 212px; height: 22px; margin: 6px 10px 0 0; }
.miniSearch .searchTxt { width: 141px; background: none; color: #666; border: none; height: 18px; padding-top: 4px; float: left; margin: 0 4px 0 25px; }
.miniSearch .searchBtn { float: left; width: 26px; height: 13px; overflow: hidden; border: none; text-indent: -9999px; margin: 4px 0 0 5px; cursor: pointer; background: none; }
/*skin 1 灰*/
.miniMenuSkin_1 { background: url(bg_x.jpg) 0 0 #fff; border-bottom: solid 1px #C2C2C2; border-top: solid 1px #C2C2C2; }
.miniMenuSkin_1 a.miniLogo { color: #000; }
.miniMenuSkin_1 li a { color: #000; background: url(bg_x.jpg) 0 -35px no-repeat; }
.miniMenuSkin_1 .miniSearch { background: url(img.gif) 0 0 no-repeat; }
.miniMenuSkin_1 .miniUserInfo { color: #333; }
.miniMenuSkin_1 .miniUserInfo a { color: #000; }
/*skin 2 黑*/
.miniMenuSkin_2 { background: url(bg_x.jpg) 0 -70px #000; border-bottom: solid 1px #000; border-top: solid 1px #000; }
.miniMenuSkin_2 a.miniLogo { color: #fff; }
.miniMenuSkin_2 li a { color: #fff; background: url(bg_x.jpg) 0 -105px no-repeat; }
.miniMenuSkin_2 .miniSearch { background: url(img.gif) -213px 0 no-repeat; }
.miniMenuSkin_2 .miniUserInfo { color: #666; }
.miniMenuSkin_2 .miniUserInfo a { color: #fff; }
/*提示框样式*/
.sm_search_tips { background: #262631; border: 1px solid #666; color: #333; line-height: 20px; margin: -5px 0 0 0; }
.sm_search_tips li a { background: #262631; color: #fff; display: block; overflow: hidden; padding: 2px 8px; text-decoration: none; white-space: nowrap; }
.sm_search_tips li.current a, .sm_search_tips li a:hover { background: #000; color: #3eaef9; }
.sm_search_tips li a.help { color: #aaa; text-align: right; }

/*foot信息*/
.foot { width: 850px; margin: auto; padding: 20px 10px; }
.foot p { line-height: 22px; }
.foot .police { float: left; width: 200px; text-align: center; padding-top: 5px; }
.foot .police a { display: inline-block; margin: 0 10px; }
.foot .info { float: left; width: 650px; text-align: center; padding-top: 5px; }
/*白底黑字*/
.footColor1 { background: #fff; color: #000; }
.footColor1 a { color: #000; }
/*黑底白字*/
.footColor2 { background: #000; color: #fff; }
.footColor2 a { color: #fff; }

/*临时留言框*/
.tempMessage { width: 240px; border: solid 2px red; background: #fff; }
.tempMessage textarea { border: solid 1px #666; line-height: 18px; height: 80px; width: 210px; display: block; margin: 10px auto; }
.tempMessage input.updata { border: solid 1px #999; line-height: 20px; height: 20px; color: #000; margin: auto auto 10px auto; display: block; width: 50px; color: #fff; }
.tempMessage .codeNum { margin: 0 0 10px 0; }
.tempMessage .codeNum input { float: left; }
.tempMessage .codeNum img { float: left; }
.tempMessage .codeNum .Verification { border: solid 1px #999; background: #fff; line-height: 23px; width: 70px; margin: 0 3px 0 16px; height: 23px; color: #000; }
.tempMessage .codeNum a { line-height: 25px; color: #333; margin-left: 5px; }

/*迷你登录框*/
.loginBox { width: 250px; padding: 5px 10px; height: 120px; overflow: hidden; border: solid 2px #C2C2C3; background: #F3F3F3; color: #333; position: absolute; z-index: 100; }
.loginBox .title h4 { font-size: 14px; font-weight: bold; margin: 5px 0 10px 0; float: left; }
.loginBox .title a { float: right; margin: 5px 0 10px 0; padding: 0 5px; font-weight: bold; font-size: 14px; }
.loginBox a { color: #333; }
.loginBox h4 { font-size: 14px; font-weight: bold; margin: 5px 0 10px 0; }
.loginBox .link { text-align: center; padding: 10px 0; }
.loginBox dt { float: left; margin-left: 20px; display: inline; line-height: 22px; }
.loginBox dd { float: left; }
.loginBox dt label { height: 22px; line-height: 22px; vertical-align: middle; float: left; }
.loginBox dt p { margin: 3px 0; }
.loginBox dt input { border: solid 1px #ccc; margin: 0 0 0 5px; height: 22px; line-height: 22px; width: 120px; }
.loginBox dd input { margin: 3px 0 0 5px; width: 51px; height: 51px; border: solid 1px #ccc; background: #fff; overflow: hidden; font-weight: bold; line-height: 51px; color: #333; font-size: 14px; }

/*评论模块*/
.playDataComment { border: solid 1px #333; margin: 0 auto; }
.addComment { background: #333; padding: 10px 15px; margin-bottom: 10px; }
.addComment h3 { font-size: 14px; font-weight: bold; color: #fff; }
.addComment dt { float: left; margin-right: -55px; width: 40px; padding: 28px 15px 0 0; }
.addComment dd { float: left; width: 100%; }
.addComment .show { margin-left: 55px; }
.addComment .point { color: #999; line-height: 20px; margin-bottom: 3px; }
.addComment .point a { color: #ccc; margin: 0 5px; float: left; }
.addComment .point span { float: left; }
.addComment .point input { display: inline-block; vertical-align: middle; margin: 0 2px; }
.addComment .point tt { float: right; }
.addComment .submit { width: 100%; height: 54px; overflow: hidden; }
.addComment .submit .la_txtContent { float: left; width: 100%; }
.addComment .submit .la_txtContent span { display: block; padding-right: 71px; }
.addComment .submit .la_btnPost { float: left; width: 60px; margin-left: -60px; display: inline; _margin-left: -70px; }
.addComment .submit textarea { border: none; color: #333; height: 56px; overflow-y: hidden; padding: 5px; width: 100%; background: #ccc; margin: -1px 0 0 0; }
.addComment .submit input { width: 60px; font-size: 14px; background: #eee; border: none; height: 54px; overflow: hidden; }
.addComment .authCode { line-height: 25px; height: 25px; margin-top: 8px; overflow: hidden; }
.addComment .authCode tt { float: left; color: #999; margin-right: 5px; display: inline; }
.addComment .authCode input { height: 25px; width: 41px; margin-right: 5px; float: left; overflow: visible; vertical-align: middle; background: #ccc; color: #333; border: none; padding: 0 4px; line-height: 25px; display: inline; text-align: center; }
.addComment .authCode label { vertical-align: middle; margin-right: 5px; height: 25px; float: left; display: inline; }
.addComment .authCode a { height: 25px; line-height: 25px; float: left; color: #ccc; text-decoration: underline; }
.showComment { padding: 10px; }
.showComment h3 { font-size: 14px; font-weight: bold; display: block; margin: 0 0 10px 10px; }
.showComment h3 span { font-weight: normal; color: #999; font-size: 13px; }
.showComment a.btnRef { color: #666; font-weight: normal; font-size: 12px; }
.showComment .PageNum { height: 24px; padding: 0 8px; color: #999; overflow: hidden; background: #333; margin: 8 0 15px 0; line-height: 24px; }
.showComment .PageNum a { color: #999; }
.showComment .AllNum { float: left; width: 180px; overflow: hidden; }
.showComment .PageList { float: right; width: 320px; overflow: hidden; text-align: right; }
.userComment { border-bottom: dotted 1px #666; padding: 5px 0; }
.userComment dt { float: left; width: 60px; margin-right: -60px; text-align: center; }
.userComment dd { float: left; width: 100%; overflow: hidden; }
.userComment dd .show { margin-left: 60px; }
.userComment dd p { line-height: 22px; }
.userComment dd p.info span { color: #09f; }
.userComment dd p.info span a { color: #09f; }
.userComment dd p.info { color: #999; }
.userComment dd p.content { line-height: 20px; color: #333; }
.userComment dd p.content a { color: #333; }
.userComment dd p.interact { text-align: right; }
.userComment dd p.interact a.btn_1 { color: #09f; }
.userComment dd p.interact a.btn_2 { color: #fc0; }
.userComment dd p.interact a.btn_2 span { color: #999; }
.userComment dd p.interact a.btn_3 { color: #999; }
.userComment .quote { border: #333 1px dotted; padding: 10px; }
.userComment .quote dt { width: 40px; float: left; }
.userComment .quote dd { width: 100%; float: left; }
.userComment .quote .mini { margin-left: 40px; }
.CommentList dl.end { border-bottom: none; }

ul.list_simple { width: 600px; }
ul.list_simple li { background: url(img.gif) 0 -24px no-repeat; height: 30px; line-height: 30px; overflow: hidden; vertical-align: middle; white-space: nowrap; width: 100%; }
ul.list_simple li span.text { float: left; margin-left: 24px; overflow: hidden; width: 566px; }
ul.list_simple li span.text a { color: #101010; text-decoration: none; }
ul.list_simple li span.text a:hover { color: #8d240f; }

/*layout start*/

.ico {display: inline-block; background: url(img.gif);}
.ico_key {background-position: -400px -380px; width: 19px; height: 32px;}
.ico_ruby {background-position: -400px -360px; width: 20px; height: 16px;}
.ico_sapphire {background-position: -400px -340px; width: 23px; height: 16px;}
.ico_key {background-position: -400px -380px; width: 19px; height: 32px;}
.ico_getMoreKey {background-position: -310px -300px; width: 110px; height: 34px;}
.em {color: #c00;}

.footColor1 { background: transparent; }


a { background-color: transparent; color: #000; }
body { background: #F0E8EA url(bg_page_vip.jpg) 0 0 repeat-x; color: #111; line-height: 20px; }
code { font-family: "Courier New" , Courier, Monospace; }
.page { width: 1000px; margin: 0 auto; background: #fff; }
.header { background: url(header.jpg); height: 180px; position: relative; }
.row_1 { background: url(row_1.jpg); height: 530px; position: relative; }
.row_2 { background: url(row_2.jpg); height: 520px; position: relative; }
.row_3 { background: url(row_3.jpg); height: 140px; }
.row_4 { background: url(row_4.jpg); height: 270px; position: relative; }
.footer { background: url(footer.jpg); height: 260px; }

.nav { top: 120px; width: 145px; height: 40px; }
.td_id { width: 140px; display: block; overflow: hidden; white-space: nowrap; }
.box {width: 145px; height: 145px; }
.box_cover {cursor: crosshair; background: url(boxes.gif) 0 -150px no-repeat; }
.box_hover {cursor: crosshair; background: url(boxes.gif) 0 0 no-repeat; }
.box_open {cursor: default; background: url(boxes.gif) 0 -300px no-repeat; }
.box_active {cursor: default; background: url(boxes.gif) 0 -450px no-repeat; }
.btn_level {top: 8px; width: 67px; height: 27px; background: url(img.gif);}
.playField_info {font-size: 12px; padding: 15px; width: 270px; height: 120px; background: url(img.gif) 0 -240px; left: 65px; top: 130px; display: none;}
.playField_info p {text-indent: 24px; }
.playField_info a {color: #800; }
.playField_info a:hover {color: #c00; text-decoration: none;}
.playField_info h4 {text-align: center; font-size: 15px; color: #c00; margin-bottom: 5px; font-weight: bold; }

.prize { width: 145px; height: 145px; background: url(prizes.gif) -14px -914px;}
.prize_ipad {background-position: -12px -82px;}
.prize_film_ticket {background-position: -160px -82px;}
.prize_iphone {background-position: -34px -733px;}
.prize_pp_7d {background-position: -441px -87px;}
.prize_c_100 {background-position: -15px -225px;}
.prize_pp_ticket {background-position: -155px -220px;}
.prize_camara {background-position: -302px -220px;}
.prize_c_50 {background-position: -12px -370px;}
.prize_c_10 {background-position: -160px -367px;}
.prize_pp_12m {background-position: -304px -367px;}
.prize_pp_6m {background-position: -35px -546px; }
.prize_pp_3m {background-position: -235px -547px; }
.prize_ruby {background-position: -417px -510px; }
.prize_sapphire {background-position: -417px -641px; }
.prize_thx {background-position: -14px -914px; }
.prize_key {background-position: -222px -913px; }
.prize_m_10 {background-position: -230px -1060px; }
.prize_m_50 {background-position: -27px -1073px; }
.prize_m_100 {background-position: -227px -716px; }
.popImg {position: relative; display: block; background: #fff; width: 145px; height: 145px; border: solid 1px #c48d41; border-right-width:2px;border-bottom-width:2px;margin: 20px auto 15px; }
.poptxt_bg {display: block; width: 350px; height: 100px; background: #fff; margin: 10px auto;filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; position: relative; z-index: 1;}
.poptxt {color: #666; text-indent: 24px; overflow-y: auto; border: solid 1px #dcbe7b; border-right-width:2px;border-bottom-width:2px; display: block; padding: 10px; width: 328px; height: 78px; margin: -110px auto 0; position: relative; z-index: 2; }
.popused { width: 145px; height: 145px; color: #c00; text-align: center; line-height: 145px; font-size: 25px; font-weight: bold; }

/*layout end*/

/*detail start*/
#nav_home { left: 166px; }
#nav_prices { left: 330px; }
#nav_myPrice { left: 500px; }
#nav_ppcenter { left: 678px; }
#prices_list { left: 50px; top: 70px; width: 220px; height: 325px; }
#prices_list ul.list_simple { width: 220px; }
#prices_list ul.list_simple li span.text { width: 200px; }
#rank_list { left: 335px; top: 91px; width: 604px; height: 113px; }
#rank_list td { overflow: hidden; white-space: nowrap; line-height: 22px; }
#feelings { left: 335px; top: 285px; width: 612px; height: 199px; }
#feelings td { height: 65px; }
#feelings td .image { background: #fff; margin-top: 10px; float: left; border: solid 1px #8d240f; display: inline; width: 40px; height: 40px; }
#feelings td .id { float: left; margin: 10px 0 0 5px; width: 100px; height: 40px; overflow: hidden; }

#feelings td .text { float: left; margin: 10px 0 0 0; width: 140px; height: 40px; overflow: hidden; }
#rank_list_more { left: 834px; top: 17px; width: 105px; height: 42px; }
#feelings_more { left: 834px; top: 211px; width: 105px; height: 42px; }

#rules_list { left: 60px; top: 80px; width: 890px; height: 200px; }
#rules_list ul.list_simple { width: 890px; }
#rules_list ul.list_simple li span.text { width: 850px; }
#prize_aside { left: 790px; top: 40px; width: 185px; height: 417px; background: url(prizes_aside.gif);}

#level_1 { left: 306px; top: 8px; width: 67px; height: 27px; background-position: 0 -110px;}
#level_2 { left: 380px; top: 8px; width: 67px; height: 27px; background-position: 0 -138px;}
#level_3 { left: 452px; top: 8px; width: 67px; height: 27px; background-position: 0 -166px;}

#playField { width: 435px; height: 435px; left: 320px; top: 57px; }
#boxes {width: 435px; height: 435px; }
#playField_infoBg {width: 435px; height: 435px; background: #000; filter: alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5; display: none;}
#startPlay {margin: 0 auto; width: 104px; height: 38px; background: url(img.gif) 0 -200px; cursor: pointer;}
#startPlaying {margin: 0 auto; width: 95px; height: 35px; background: url(img.gif) -210px -200px; cursor: pointer;}

#box_1 { left: 0; top: 0; }
#box_2 { left: 145px; top: 0; }
#box_3 { left: 290px; top: 0; }
#box_4 { left: 0; top: 145px; }
#box_5 { left: 145px; top: 145px; }
#box_6 { left: 290px; top: 145px; }
#box_7 { left: 0; top: 290px; }
#box_8 { left: 145px; top: 290px; }
#box_9 { left: 290px; top: 290px; }
#login { left: 45px; top: 130px; width: 225px; height: 300px; }
#logined {font-size: 14px; line-height: 25px; color: #000080; left: 60px; top: 130px; width: 200px; height: 300px; display: none;}
#logined_uid { color: #c00;  }
#bg_login {background: url(bg_login.jpg); width: 280px; height: 170px; top: 300px;}

#login a { color: #8d240f; text-decoration: none; }
#login a:hover { color: #8d240f; text-decoration: underline; }
#login input.text { background: #fff; border-color: #8d240f; float: left; height: 16px; line-height: 16px; margin-top: 2px; width: 120px; color: #333; }
#login strong { color: #f60; }
#login form dl { height: 80px; line-height: 25px; width: 220px; margin: 0 0 0 30px;}
#login form dl dt { float: left; height: 25px; text-align: right; width: 50px; }
#login form dl dd { float: right; height: 25px; line-height: 25px; overflow: hidden; vertical-align: middle; width: 170px; }
#verification { text-transform: uppercase; width: 30px; }
#verification_image { cursor: pointer; vertical-align: middle; }
#submit { width: 72px; height: 27px; cursor: pointer; background: url(img.gif) 0 -55px; border: 0;}
#reg { width: 72px; height: 27px; cursor: pointer; background: url(img.gif) 0 -83px; border: 0;}

#key {cursor: crosshair; width: 123px; height: 85px; background: url(key.gif); display: none;}

#bg_showPrizes {width: 507px; height: 465px; background: url(popup.png); overflow: hidden;}
#popPrizes_content {width: 450px; height: 340px; margin: 60px auto 0; z-index: 10; position: relative;}

#popPrizes_left {cursor: pointer; float: left; width: 17px; height: 17px; background: url(img.gif) 0 -395px; display: inline; margin: 150px 0 0 10px;}
#popPrizes_pics {float: left; width: 380px; height: 340px; display: inline; margin-left: 7px; position: relative;}
#popPrizes_right {cursor: pointer; float: right; width: 17px; height: 17px; background: url(img.gif) 0 -395px; display: inline; margin: 150px 10px 0 0;}

#get_prize {cursor: pointer; width: 95px; height: 35px; left: 25px; top: 55px; background: url(img.gif) -110px -200px;filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8;}
.get_prize {position: relative; display: block; cursor: pointer; width: 95px; height: 35px; margin: 10px 0 0 265px; background: url(img.gif) -110px -200px;}
#get_start {cursor: pointer; width: 104px; height: 38px; left: 20px; top: 55px; background: url(img.gif) 0 -200px;filter: alpha(opacity=80); -moz-opacity: 0.8; opacity: 0.8;}
#play_times_num{color: #c00;}

#popPrizes_close{background: url(img.gif) -370px -390px no-repeat; width: 22px; height: 22px; left: 460px; top: 12px; cursor: pointer;}

/*detail end*/



/*reset start*/
	html{height:100%;width:100%;}
	body{color:#000;font-family:"宋体";font-size:12px;height:100%;width:100%; background:url(bg_x_page.jpg) repeat-x #F7CD06;}
	a{text-decoration:none;}
	a:hover{text-decoration:underline;}
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin: 0;padding:0;}
	table{border-collapse:collapse;border-spacing:0;}
	fieldset,img{border:0;}
	address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}
	del,ins{text-decoration:none;}
	li {list-style:none;}
	caption,th{text-align:left;}
	h1{font-size:18px;}
	h2{font-size:14px;}
	h3,h4,h5,h6{font-size:12px;}
	h4,h5,h6{font-weight:normal;}
	abbr,acronym{border:0;font-variant:normal;}
	input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
	input,button,textarea,select{*font-size:100%;}
	input:focus {outline: none;}
	strong,b{font-weight:bold;}
/*reset end*/

/*routine start*/
/*对齐*/
	.t_l{text-align:left;}/*居左*/
	.t_c{text-align:center;}/*居中*/
	.t_r{text-align:right;}/*居右*/

/*清除浮动*/
	.c_b{zoom:1;}
	.c_b:after{clear:both;content:" ";display:block}
	
/*迷你导航*/
	.pre_miniMenu{height:34px;line-height:34px;overflow:hidden;font-family:"宋体";width:100%;}
	.pre_miniMenu .miniMenu{width:1000px;margin:auto;}
	.pre_miniMenu .leftMenu{float:left;}
	.pre_miniMenu .leftMenu a.miniLogo{float:left;width:77px;font-family: Verdana, Arial;font-size:14px;height:25px;overflow:hidden;line-height:23px;font-weight:bold; margin:5px 10px 0 10px;}
	.pre_miniMenu .leftMenu a.miniLogo:hover{text-decoration:none;}
	.pre_miniMenu .leftMenu ul{float:left;overflow:hidden;}
	.pre_miniMenu .leftMenu li{float:left;margin-left:-2px;height:32px; }
	.pre_miniMenu .leftMenu li a{float:left;padding:0 11px 0 12px;height:32px;line-height:34px;}
	.pre_miniMenu .leftMenu li a:hover{color:#09f;}
	.pre_miniMenu .miniUserInfo{float:right;margin-right:10px;height:34px;line-height:34px;}
	.pre_miniMenu .miniUserInfo a{ margin:0 3px 0 5px;}
	.pre_miniMenu .miniUserInfo a:hover{color:#09f;}
	.pre_miniMenu .miniSearch{float:right;display:inline; width:212px;height:22px;margin:6px 10px 0 0;}
	.pre_miniMenu .miniSearch .searchTxt{width:141px; background:none;color:#666;border:none;height:18px;padding-top:4px;float:left;margin:0 4px 0 25px;}
	.pre_miniMenu .miniSearch .searchBtn{float:left;width:26px;height:13px;overflow:hidden;border:none;text-indent:-9999px;margin:4px 0 0 5px; cursor:pointer;background:none;}
	/*skin 1 灰*/
	.miniMenuSkin_1{background:url(pre_bg_x.jpg) 0 0 #fff;border-bottom:solid 1px #C2C2C2; border-top:solid 1px #C2C2C2;}
	.miniMenuSkin_1 a.miniLogo{color:#000;}
	.miniMenuSkin_1 li a{color:#000;  background:url(pre_bg_x.jpg) 0 -35px no-repeat;}
	.miniMenuSkin_1 .miniSearch{ background:url(pre_img.gif) 0 0 no-repeat;}
	.miniMenuSkin_1 .miniUserInfo{ color:#333; }
	.miniMenuSkin_1 .miniUserInfo a{ color:#000;}
	/*skin 2 黑*/
	.miniMenuSkin_2{background:url(pre_bg_x.jpg) 0 -70px #000;border-bottom:solid 1px #000; border-top:solid 1px #000;}
	.miniMenuSkin_2 a.miniLogo{color:#fff;}
	.miniMenuSkin_2 li a{ color:#fff;  background:url(pre_bg_x.jpg) 0 -105px no-repeat;}
	.miniMenuSkin_2 .miniSearch{ background:url(pre_img.gif) -213px 0 no-repeat;}
	.miniMenuSkin_2 .miniUserInfo{ color:#666;}
	.miniMenuSkin_2 .miniUserInfo a{ color:#fff;}
	/*提示框样式*/
	.sm_search_tips{background:#262631;border:1px solid #666;color:#333;line-height:20px;margin:-5px 0 0 0;}
	.sm_search_tips li a{background:#262631;color:#fff;display:block;overflow:hidden;padding:2px 8px;text-decoration:none;white-space:nowrap;}
	.sm_search_tips li.current a,
	.sm_search_tips li a:hover{background:#000;color:#3eaef9;}
	.sm_search_tips li a.help{color:#aaa;text-align:right;}
	
/*foot信息*/
	.pre_foot .foot{width:850px;margin:auto;padding:20px 10px;}
	.pre_foot .foot p{line-height:22px;}
	.pre_foot .foot .police{float:left;width:200px;text-align:center;padding-top:5px;}
	.pre_foot .foot .police a{display:inline-block;margin:0 10px;}
	.pre_foot .foot .info{float:left;width:650px;text-align:center;padding-top:5px;}
	/*黑字*/
	.footColor1{color:#000;}
	.footColor1 a{color:#000;}
	/*黑底白字*/
	.footColor2{background:#000;color:#fff;}
	.footColor2 a{color:#fff;}
/*routine end*/

/*detail start*/
	.banner_1{ width:988px; margin:0 auto; height:230px; background:url(bg_1.jpg);}
	.banner_1 h1{ display:none;}
	.banner_2{ width:988px; margin:0 auto; height:281px; background:url(bg_2.jpg?1111a); position: relative;}
	.banner_2 p{ position:absolute; width:410px; line-height:20px; color:#D00419; top:10px; left:390px;}
	.banner_2 .join{ position:absolute; width:175px; height:38px; text-indent:-9999px; overflow:hidden;cursor:pointer; display:block; left:499px; top:160px;}
	.banner_2 dl{ position:absolute; width:410px; line-height:20px; top:150px; left:390px;}
	.banner_2 dt{ font-weight:bold; color:#D00419;}
	.banner_2 .fenxiang{ width:256px; padding-left:4px; height:64px; position: absolute; top:200px; left:67px; }
	.banner_2 .fenxiang a{ float:left; width:28px; height:28px; text-indent:-9999px; overflow:hidden; margin:27px 7px auto 7px;}
	.main{ background:#FFFF15;width:938px; padding:25px; margin:0 auto;}
	.showBox{ margin-bottom:14px;}
	.showBox h3{ height:34px; line-height:34px; font-weight:bold; font-size:14px; padding-left:28px; background:url(img.png) 0 0; color:#E01828;}
	.showBox .intro,
	.showBox .tequan,
	.showBox .faq{ border:solid 1px #FAB940; border-top:none; background:#FEFF6B; padding:30px;}
	.faq dl{ line-height:20px; margin-bottom:15px;}
	.faq dt{font-weight:bold; color:#D00419;}
	
	.tequan table{line-height:28px; height:28px; margin-bottom:20px; border:solid 1px #FFBD0B; border-right:none; border-bottom:none;}
	.tequan td{ border:solid 1px #FFBD0B; border-left:none; border-top:none;}
	.tequan .txt1{ background:#FFFF15; padding-left:10px; width:203px; font-weight:bold; font-size:14px; color:#C80002;}
	.tequan .txt2 { padding-left:10px;}
	.tequan .join{ display:block; width:156px; height:31px; background:url(img.png) -176px -35px; text-indent:-9999px; overflow:hidden; margin:0 auto;}
	
	.intro .list{ margin-bottom:20px;}
	.intro .list dl{ border:solid 1px #FFBD0B; float:left; margin:0 12px; display:inline; border-bottom:none; width:193px; line-height:29px;}
	.intro .list dt{border-bottom:solid 1px #FFBD0B; padding-left:10px; background:#FFFF15;font-weight:bold; font-size:14px; color:#C80002;}
	.intro .list dd{border-bottom:solid 1px #FFBD0B; padding-left:10px; }
	.intro .join{ display:block; width:156px; height:31px; background:url(img.png) -333px -35px; text-indent:-9999px; overflow:hidden; margin:0 auto;}
/*detail end*/